<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.basesupplydemand.dao.UserReviewsMapper">
    <resultMap id="BaseResultMap" type="com.sandu.api.basesupplydemand.model.UserReviews">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="business_id" property="businessId" jdbcType="INTEGER"/>
        <result column="reviews_msg" property="reviewsMsg" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="fid" property="fid" jdbcType="INTEGER"/>
        <result column="pic_ids" property="picIds" jdbcType="VARCHAR"/>
        <result column="plan_id" property="planId" jdbcType="INTEGER"/>
        <result column="house_id" property="houseId" jdbcType="INTEGER"/>
        <result column="supply_demand_publisher_id" property="supplyDemandPublisherId" jdbcType="INTEGER"/>
        <result column="plan_type" property="planType" jdbcType="INTEGER"/>
        <result column="is_read" property="isRead" jdbcType="INTEGER"/>
        <result column="is_top" property="isTop" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, business_id, reviews_msg, creator, gmt_create, is_deleted, remark, fid, 
    pic_ids, plan_id, house_id, supply_demand_publisher_id, plan_type, is_read, is_top
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_reviews
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="queryByOptions" resultType="com.sandu.api.basesupplydemand.model.UserReviews">
        select * from user_reviews
        where 1 = 1
        <if test="id != null">and
            id = #{id,jdbcType=INTEGER}
        </if>
        <if test="userId != null">and
            user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="businessId != null">and
            business_id = #{businessId,jdbcType=INTEGER}
        </if>
        <if test="reviewsMsg != null">and
            reviews_msg = #{reviewsMsg,jdbcType=VARCHAR}
        </if>
        <if test="creator != null">and
            creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="gmtCreate != null">and
            gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
        </if>
        <if test="isDeleted != null">and
            is_deleted = #{isDeleted,jdbcType=INTEGER}
        </if>
        <if test="remark != null">and
            remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="fid != null">and
            fid = #{fid,jdbcType=INTEGER}
        </if>
        <if test="picIds != null">and
            pic_ids = #{picIds,jdbcType=VARCHAR}
        </if>
        <if test="planId != null">and
            plan_id = #{planId,jdbcType=INTEGER}
        </if>
        <if test="houseId != null">and
            house_id = #{houseId,jdbcType=INTEGER}
        </if>
        <if test="supplyDemandPublisherId != null">and
            supply_demand_publisher_id = #{supplyDemandPublisherId,jdbcType=INTEGER}
        </if>
        <if test="planType != null">and
            plan_type = #{planType,jdbcType=INTEGER}
        </if>
        <if test="isRead != null">and
            is_read = #{isRead,jdbcType=INTEGER}
        </if>
        <if test="isTop != null">and
            is_top = #{isTop,jdbcType=INTEGER}
        </if>
        order by id desc;
    </select>
    <select id="queryBiz" resultType="com.sandu.api.basesupplydemand.model.UserReviews">
        select * from user_reviews
        where is_deleted = 0
        and business_id = #{businessId}
        <if test="content != null">
            and reviews_msg like concat('%',#{content},'%')
        </if>
        <if test="startTime != null">
            and gmt_create &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and gmt_create &lt;= #{endTime}
        </if>
        order by is_top desc, gmt_create desc

    </select>
    <select id="getHeadReviews" resultType="com.sandu.api.basesupplydemand.model.UserReviews">
        select u2.* from user_reviews u1
        , user_reviews u2
        where u1.business_id = u2.business_id

        and u1.id = #{id}
        and u2.is_deleted = 0
        order by u2.is_top desc, u2.gmt_create desc
        limit 1;
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_reviews
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.sandu.api.basesupplydemand.model.UserReviews">
    insert into user_reviews (id, user_id, business_id, 
      reviews_msg, creator, gmt_create, 
      is_deleted, remark, fid, 
      pic_ids, plan_id, house_id, 
      supply_demand_publisher_id, plan_type, is_read, 
      is_top)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{businessId,jdbcType=INTEGER}, 
      #{reviewsMsg,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{fid,jdbcType=INTEGER}, 
      #{picIds,jdbcType=VARCHAR}, #{planId,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, 
      #{supplyDemandPublisherId,jdbcType=INTEGER}, #{planType,jdbcType=INTEGER}, #{isRead,jdbcType=INTEGER}, 
      #{isTop,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.sandu.api.basesupplydemand.model.UserReviews">
        insert into user_reviews
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="businessId != null">
                business_id,
            </if>
            <if test="reviewsMsg != null">
                reviews_msg,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="fid != null">
                fid,
            </if>
            <if test="picIds != null">
                pic_ids,
            </if>
            <if test="planId != null">
                plan_id,
            </if>
            <if test="houseId != null">
                house_id,
            </if>
            <if test="supplyDemandPublisherId != null">
                supply_demand_publisher_id,
            </if>
            <if test="planType != null">
                plan_type,
            </if>
            <if test="isRead != null">
                is_read,
            </if>
            <if test="isTop != null">
                is_top,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="businessId != null">
                #{businessId,jdbcType=INTEGER},
            </if>
            <if test="reviewsMsg != null">
                #{reviewsMsg,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="fid != null">
                #{fid,jdbcType=INTEGER},
            </if>
            <if test="picIds != null">
                #{picIds,jdbcType=VARCHAR},
            </if>
            <if test="planId != null">
                #{planId,jdbcType=INTEGER},
            </if>
            <if test="houseId != null">
                #{houseId,jdbcType=INTEGER},
            </if>
            <if test="supplyDemandPublisherId != null">
                #{supplyDemandPublisherId,jdbcType=INTEGER},
            </if>
            <if test="planType != null">
                #{planType,jdbcType=INTEGER},
            </if>
            <if test="isRead != null">
                #{isRead,jdbcType=INTEGER},
            </if>
            <if test="isTop != null">
                #{isTop,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sandu.api.basesupplydemand.model.UserReviews">
        update user_reviews
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="businessId != null">
                business_id = #{businessId,jdbcType=INTEGER},
            </if>
            <if test="reviewsMsg != null">
                reviews_msg = #{reviewsMsg,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="fid != null">
                fid = #{fid,jdbcType=INTEGER},
            </if>
            <if test="picIds != null">
                pic_ids = #{picIds,jdbcType=VARCHAR},
            </if>
            <if test="planId != null">
                plan_id = #{planId,jdbcType=INTEGER},
            </if>
            <if test="houseId != null">
                house_id = #{houseId,jdbcType=INTEGER},
            </if>
            <if test="supplyDemandPublisherId != null">
                supply_demand_publisher_id = #{supplyDemandPublisherId,jdbcType=INTEGER},
            </if>
            <if test="planType != null">
                plan_type = #{planType,jdbcType=INTEGER},
            </if>
            <if test="isRead != null">
                is_read = #{isRead,jdbcType=INTEGER},
            </if>
            <if test="isTop != null">
                is_top = #{isTop,jdbcType=INTEGER},
            </if>
        </set>
        where
        <if test="id != null">
            id = #{id,jdbcType=INTEGER}
        </if>
        <if test="updateIds != null and updateIds.size > 0">
            id in
            <foreach collection="updateIds" item="it" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </if>
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sandu.api.basesupplydemand.model.UserReviews">
    update user_reviews
    set user_id = #{userId,jdbcType=INTEGER},
      business_id = #{businessId,jdbcType=INTEGER},
      reviews_msg = #{reviewsMsg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=INTEGER},
      pic_ids = #{picIds,jdbcType=VARCHAR},
      plan_id = #{planId,jdbcType=INTEGER},
      house_id = #{houseId,jdbcType=INTEGER},
      supply_demand_publisher_id = #{supplyDemandPublisherId,jdbcType=INTEGER},
      plan_type = #{planType,jdbcType=INTEGER},
      is_read = #{isRead,jdbcType=INTEGER},
      is_top = #{isTop,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectListBySupplyDemandId" resultType="com.sandu.api.basesupplydemand.model.UserReviews">
        SELECT
           *
        from
           user_reviews
        WHERE
           is_deleted = 0 AND
           business_id = #{businessId}
    </select>

    <select id="findBySupplyDemandIdList" resultType="com.sandu.api.basesupplydemand.model.UserReviews">
        SELECT
          *
        FROM
          user_reviews
        WHERE
          business_id = #{id} AND
          is_deleted = 0
    </select>
</mapper>