<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.statisticsPlan.dao.PlanUsageAmountDayMapper">
    <resultMap id="BaseResultMap" type="com.sandu.api.statisticsPlan.model.PlanUsageAmountDay">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="plan_id" jdbcType="INTEGER" property="planId"/>
        <result column="plan_name" jdbcType="VARCHAR" property="planName"/>
        <result column="plan_code" jdbcType="VARCHAR" property="planCode"/>
        <result column="plan_type" jdbcType="INTEGER" property="planType"/>
        <result column="plan_source" jdbcType="VARCHAR" property="planSource"/>
        <result column="design_style_id" jdbcType="INTEGER" property="designStyleId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="space_common_type" jdbcType="INTEGER" property="spaceCommonType"/>
        <result column="plan_usage_amount_pc" jdbcType="INTEGER" property="planUsageAmountPc"/>
        <result column="plan_usage_amount_mobile2b" jdbcType="INTEGER" property="planUsageAmountMobile2b"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="MODIFIER" jdbcType="VARCHAR" property="modifer"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="use_plan_total" jdbcType="INTEGER" property="usePlanTotal"/>
        <result column="designStyle" jdbcType="VARCHAR" property="designStyle"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, start_time, end_time, plan_id, plan_name, plan_code, plan_type, plan_source, design_style_id,
        company_id, space_common_type, plan_usage_amount_pc, plan_usage_amount_mobile2b, creator, gmt_create,
        MODIFIER, gmt_modified, is_deleted, remark
    </sql>

    <select id="selectDetailList" parameterType="com.sandu.api.statisticsPlan.model.PlanUsageAmountDay" resultMap="BaseResultMap">
        SELECT * FROM (
            SELECT
                b.id,
                b.plan_name,
                b.plan_code,
                b.plan_type,
                b.plan_source,
                b.design_style_id,
                bps.name as designStyle,
                sum(b.plan_usage_amount_pc+b.plan_usage_amount_mobile2b) use_plan_total
            from data_statistics.bigdata_recommended_plan_usage_amount_2b_day b
            LEFT JOIN base_product_style bps ON bps.id = b.design_style_id
            WHERE
                b.is_deleted = 0
            <if test="planType != null">
                and b.plan_type = #{planType,jdbcType=INTEGER}
            </if>
            <if test="listGroupStyleId != null and listGroupStyleId.size > 0">
                and b.design_style_id in
                <foreach collection="listGroupStyleId" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="spaceCommonType != null">
                and b.space_common_type = #{spaceCommonType,jdbcType=INTEGER}
            </if>
            <if test="companyId != null">
                and b.company_id = #{companyId,jdbcType=INTEGER}
            </if>
            <if test="planSource != null  and planSource != '' ">
                and b.plan_source = #{planSource,jdbcType=VARCHAR}
            </if>
            <if test="time == 0">
                and TO_DAYS( NOW( ) ) - TO_DAYS(b.start_time) = 1
            </if>
            <if test="time == 1">
                and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(b.start_time)
            </if>
            <if test="time == 2">
                and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(b.start_time)
            </if>
            <if test="time == 3">
                and PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( start_time, '%Y%m' ) ) =1
            </if>
            group by b.plan_id
            order by use_plan_total desc
            limit 0,30 ) AS hotPlan
    </select>

    <select id="selectHotPlan" parameterType="com.sandu.api.statisticsPlan.model.PlanUsageAmountDay" resultMap="BaseResultMap">
        SELECT
            id,
            plan_name,
            sum(plan_usage_amount_pc+plan_usage_amount_mobile2b) use_plan_total
        from
        data_statistics.bigdata_recommended_plan_usage_amount_2b_day
        WHERE
            is_deleted = 0
        <if test="planType != null">
            and plan_type = #{planType,jdbcType=INTEGER}
        </if>
        <if test="listGroupStyleId != null and listGroupStyleId.size > 0">
            and design_style_id in
            <foreach collection="listGroupStyleId" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="spaceCommonType != null">
            and space_common_type = #{spaceCommonType,jdbcType=INTEGER}
        </if>
        <if test="companyId != null">
            and company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="planSource != null  and planSource != '' ">
            and plan_source = #{planSource,jdbcType=VARCHAR}
        </if>
        <if test="time == 0">
            and TO_DAYS( NOW( ) ) - TO_DAYS(start_time) = 1
        </if>
        <if test="time == 1">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 2">
            and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 3">
            and PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( start_time, '%Y%m' ) ) =1
        </if>
        group by plan_id
        order by use_plan_total desc
        limit 0,10
    </select>

</mapper>