<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.statisticsPlan.dao.PlanStatisticsDayMapper">

    <select id="selectDayPlanList" parameterType="com.sandu.api.statisticsPlan.model.PlanStatistics"
            resultType="com.sandu.api.statisticsPlan.model.PlanStatistics">
        select
            id,
        <if test="type == 1">
            sum(new_plan_count) newPlanCount,
        </if>
        <if test="type == 0">
            sum(use_plan_count) usePlanCount,
        </if>
        DATE_FORMAT ( start_time, '%Y/%m/%d' ) start_time
        from
        data_statistics.bigdata_recommended_plan_statistics_2b_day
        where is_deleted = 0
        <if test="type == 1">
            and new_plan_count &lt;&gt; 0
        </if>
        <if test="type == 0">
            and use_plan_count &lt;&gt; 0
        </if>
        <if test="planType != null">
            and plan_type = #{planType,jdbcType=INTEGER}
        </if>
        <if test="listGroupStyleId != null and listGroupStyleId.size > 0">
            and design_style_id in
            <foreach collection="listGroupStyleId" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="spaceCommonType != null">
            and space_common_type = #{spaceCommonType,jdbcType=INTEGER}
        </if>
        <if test="companyId != null">
            and company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="planSource != null  and planSource != '' ">
            and plan_source = #{planSource,jdbcType=VARCHAR}
        </if>
        <if test="time == 1">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 2">
            and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 3">
            and PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( start_time, '%Y%m' ) ) =1
        </if>
        group by start_time
        ORDER BY start_time DESC
    </select>

    <select id="selectDayPlanTotal" parameterType="com.sandu.api.statisticsPlan.model.PlanStatistics"
            resultType="com.sandu.api.statisticsPlan.model.PlanStatistics">
        select
        sum(new_plan_count) as newPlanTotal,
        sum(use_plan_count) as usePlanTotal
        from
        data_statistics.bigdata_recommended_plan_statistics_2b_day
        where is_deleted = 0
        <if test="planType != null">
            and plan_type = #{planType,jdbcType=INTEGER}
        </if>
        <if test="listGroupStyleId != null and listGroupStyleId.size > 0">
            and design_style_id in
            <foreach collection="listGroupStyleId" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="spaceCommonType != null">
            and space_common_type = #{spaceCommonType,jdbcType=INTEGER}
        </if>
        <if test="companyId != null">
            and company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="planSource != null  and planSource != '' ">
            and plan_source = #{planSource,jdbcType=VARCHAR}
        </if>
        <if test="time == 1">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 2">
            and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 3">
            and PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( start_time, '%Y%m' ) ) =1
        </if>
    </select>


    <select id="selectDayPlanChart" parameterType="com.sandu.api.statisticsPlan.model.PlanStatistics"
            resultType="com.sandu.api.statisticsPlan.model.PlanStatistics">
        SELECT
        IFNULL( a.newPlanCount, 0 ) newPlanCount,
        IFNULL( a.usePlanCount, 0 ) usePlanCount,
        b.dates startTime
        FROM
        (
        SELECT
        id,
        sum(new_plan_count) newPlanCount,
        sum(use_plan_count) usePlanCount,
        DATE_FORMAT ( start_time, '%m/%d' ) startTime
        FROM
        data_statistics.bigdata_recommended_plan_statistics_2b_day
        WHERE
        is_deleted = 0
        <if test="planType != null">
            and plan_type = #{planType,jdbcType=INTEGER}
        </if>
        <if test="listGroupStyleId != null and listGroupStyleId.size > 0">
            and design_style_id in
            <foreach collection="listGroupStyleId" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="spaceCommonType != null">
            and space_common_type = #{spaceCommonType,jdbcType=INTEGER}
        </if>
        <if test="companyId != null">
            and company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="planSource != null  and planSource != '' ">
            and plan_source = #{planSource,jdbcType=VARCHAR}
        </if>
        <if test="time == 1">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 2">
            and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 3">
            and PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( start_time, '%Y%m' ) ) =1
        </if>
        group by startTime
        ORDER BY startTime ASC
        ) a
        RIGHT JOIN (
        SELECT
        DATE_FORMAT ( @date := DATE_ADD( @date, INTERVAL - 1 DAY ), '%m/%d' ) dates
        FROM
        <if test="time == 3">
            (SELECT @date := DATE_ADD(date_add(curdate(),interval -day(curdate())+1 day), INTERVAL 0 day )
            FROM sys_user) days
        </if>
        <if test="time == 1 or time == 2">
            ( SELECT @date := DATE_ADD( NOW( ), INTERVAL 0 DAY ) FROM sys_user ) days
        </if>
        <if test="time == 1">
            LIMIT 7
        </if>
        <if test="time == 2">
            LIMIT 30
        </if>
        <if test="time == 3">
            LIMIT #{day}
        </if>
        ) b
        ON b.dates = a.startTime
        ORDER BY b.dates ASC
    </select>

</mapper>