<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.statisticsCompany.dao.CompanyStatisticsDayMapper">
    <resultMap id="BaseResultMap" type="com.sandu.api.statisticsCompany.model.CompanyStatisticsDay">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="company_type" jdbcType="INTEGER" property="companyType"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
        <result column="active_user_count" jdbcType="INTEGER" property="activeUserCount"/>
        <result column="user_account_count" jdbcType="INTEGER" property="userAccountCount"/>
        <result column="user_effective_rate" jdbcType="VARCHAR" property="userEffectiveRate"/>
        <result column="new_user_count" jdbcType="INTEGER" property="newUserCount"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="MODIFIER" jdbcType="VARCHAR" property="modifer"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, start_time, end_time, company_type, company_id, company_name, brand_name, active_user_count, user_account_count,
        user_effective_rate, new_user_count, creator, gmt_create, MODIFIER, gmt_modified, is_deleted, remark
    </sql>

    <select id="selectDetailList" parameterType="com.sandu.api.statisticsCompany.model.CompanyStatisticsDay" resultMap="BaseResultMap">
        SELECT
            id,
            company_name,
            company_type,
            brand_name,
            sum(new_user_count) new_user_count,
            sum(active_user_count) active_user_count,
            sum(user_account_count) user_account_count,
            user_effective_rate
        from
            data_statistics.bigdata_company_statistics_2b_day
        WHERE
            is_deleted = 0
        <if test="companyId != null">
            and company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="companyType != null">
            and company_type = #{companyType,jdbcType=INTEGER}
        </if>
        <if test="time == 0">
            and TO_DAYS( NOW( ) ) - TO_DAYS(start_time) = 1
        </if>
        <if test="time == 1">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 2">
            and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 3">
            and PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( start_time, '%Y%m' ) ) =1
        </if>
        group by company_id
        order by active_user_count desc
    </select>

    <select id="selectHotCompany" parameterType="com.sandu.api.statisticsCompany.model.CompanyStatisticsDay" resultMap="BaseResultMap">
        SELECT
            id,
            company_name,
            sum(active_user_count) active_user_count
        from
            data_statistics.bigdata_company_statistics_2b_day
        WHERE
            is_deleted = 0
        <if test="companyId != null">
            and company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="companyType != null">
            and company_type = #{companyType,jdbcType=INTEGER}
        </if>
        <if test="time == 0">
            and TO_DAYS( NOW( ) ) - TO_DAYS(start_time) = 1
        </if>
        <if test="time == 1">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 2">
            and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(start_time)
        </if>
        <if test="time == 3">
            and PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( start_time, '%Y%m' ) ) =1
        </if>
        group by company_id
        order by active_user_count desc
        limit 0,10
    </select>

</mapper>