<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.statistics.dao.ShareResourceStatisticsDao" >
  <resultMap id="BaseResultMap" type="com.sandu.api.statistics.model.ShareResourceStatistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="house" property="house" jdbcType="VARCHAR" />
    <result column="space" property="space" jdbcType="VARCHAR" />
    <result column="templet" property="templet" jdbcType="VARCHAR" />
    <result column="supply_information" property="supplyInformation" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="INTEGER" />
    <result column="week" property="week" jdbcType="INTEGER" />
    <result column="month" property="month" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="sys_code" property="sysCode" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, house, space, templet, supply_information,  date, day,
    week, month, year, sys_code, creator, gmt_create, modifier, gmt_modified, is_deleted, 
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from data_statistics.share_resource_statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from data_statistics.share_resource_statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.sandu.api.statistics.model.ShareResourceStatistics" >
    insert into data_statistics.share_resource_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="house != null" >
        house,
      </if>
      <if test="space != null" >
        space,
      </if>
      <if test="templet != null" >
        templet,
      </if>
      <if test="supplyInformation != null" >
        supply_information,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="week != null" >
        week,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="sysCode != null" >
        sys_code,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="house != null" >
        #{house,jdbcType=VARCHAR},
      </if>
      <if test="space != null" >
        #{space,jdbcType=VARCHAR},
      </if>
      <if test="templet != null" >
        #{templet,jdbcType=VARCHAR},
      </if>
      <if test="supplyInformation != null" >
        #{supplyInformation,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        #{week,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        #{month,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null" >
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.api.statistics.model.ShareResourceStatistics" >
    update data_statistics.share_resource_statistics
    <set >
      <if test="house != null" >
        house = #{house,jdbcType=VARCHAR},
      </if>
      <if test="space != null" >
        space = #{space,jdbcType=VARCHAR},
      </if>
      <if test="templet != null" >
        templet = #{templet,jdbcType=VARCHAR},
      </if>
      <if test="supplyInformation != null" >
        supply_information = #{supplyInformation,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        week = #{week,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null" >
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.sandu.api.statistics.model.ShareResourceStatistics" >
        select
            <include refid="Base_Column_List" />
        from
            data_statistics.share_resource_statistics
        <where>
            <if test="house != null" >
              AND  house = #{house,jdbcType=VARCHAR}
            </if>
            <if test="space != null" >
              AND space = #{space,jdbcType=VARCHAR}
            </if>
            <if test="templet != null" >
              AND  templet = #{templet,jdbcType=VARCHAR}
            </if>
            <if test="supplyInformation != null" >
              AND supply_information = #{supplyInformation,jdbcType=VARCHAR}
            </if>
            <if test="date != null" >
              AND date = #{date,jdbcType=INTEGER}
            </if>
            <if test="day != null" >
              AND day = #{day,jdbcType=INTEGER}
            </if>
            <if test="week != null" >
              AND  week = #{week,jdbcType=INTEGER}
            </if>
            <if test="month != null" >
              AND month = #{month,jdbcType=INTEGER}
            </if>
            <if test="year != null" >
              AND  year = #{year,jdbcType=INTEGER}
            </if>
            <if test="sysCode != null" >
              AND sys_code = #{sysCode,jdbcType=VARCHAR}
            </if>
            <if test="creator != null" >
              AND creator = #{creator,jdbcType=VARCHAR}
            </if>
            <if test="gmtCreate != null" >
              AND gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="modifier != null" >
              AND modifier = #{modifier,jdbcType=VARCHAR}
            </if>
            <if test="gmtModified != null" >
              gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="isDeleted != null" >
              AND is_deleted = #{isDeleted,jdbcType=INTEGER}
            </if>
            <if test="remark != null" >
              AND remark = #{remark,jdbcType=VARCHAR}
            </if>
        </where>
  </select>
</mapper>