<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.statisticsUser.dao.UserStatisticsHourMapper">

    <select id="selectHourUserList" parameterType="com.sandu.api.statisticsUser.model.UserStatistics"
            resultType="com.sandu.api.statisticsUser.model.UserStatistics">
        select
            id,
        <if test="type == 1">
            sum(new_user_count) newUserCount,
        </if>
        <if test="type == 0">
            sum(active_user_count) activeUserCount,
            sum(login_user_count_pc2b) loginUserCountPc2b,
            sum(login_user_count_mobile2b) loginUserCountMobile2b,
            sum(login_user_count_merchantManage) loginUserCountMerchantManage,
        </if>
        start_time
        from
            data_statistics.bigdata_user_statistics_2b_hour
        where is_deleted = 0
        <if test="type == 1">
            and new_user_count &lt;&gt; 0
        </if>
        <if test="type == 0">
            and active_user_count &lt;&gt; 0
        </if>
        <if test="userType != null">
            and user_type = #{userType,jdbcType=INTEGER}
        </if>
        <if test="useType != null">
            and use_type = #{useType,jdbcType=INTEGER}
        </if>
        <if test="time == 0">
            and TO_DAYS( NOW( ) ) - TO_DAYS(start_time) = 1
        </if>
        group by start_time
        ORDER BY start_time DESC
    </select>

    <select id="selectHourUserTotal" parameterType="com.sandu.api.statisticsUser.model.UserStatistics"
            resultType="com.sandu.api.statisticsUser.model.UserStatistics">
        select
        sum(active_user_count) as activeUserTotal,
        sum(new_user_count) as newUserTotal,
        sum(login_user_count_pc2b) as loginPc2bTotal,
        sum(login_user_count_mobile2b) as loginMobile2bTotal,
        sum(login_user_count_merchantManage) as loginMerchantManageTotal
        from
        data_statistics.bigdata_user_statistics_2b_hour
        where is_deleted = 0
        <if test="userType != null">
            and user_type = #{userType,jdbcType=INTEGER}
        </if>
        <if test="useType != null">
            and use_type = #{useType,jdbcType=INTEGER}
        </if>
        <if test="time == 0">
            and TO_DAYS( NOW( ) ) - TO_DAYS(start_time) = 1
        </if>
    </select>

    <select id="selectHourUserChart" parameterType="com.sandu.api.statisticsUser.model.UserStatistics"
            resultType="com.sandu.api.statisticsUser.model.UserStatistics">
        SELECT
        a.timehoure as startTime,
        IFNULL ( c.newCount, 0 ) as newUserCount,
        IFNULL ( c.activeCount, 0 ) as activeUserCount,
        IFNULL ( c.loginPc2b, 0 ) as loginUserCountPc2b,
        IFNULL ( c.loginMobile2b, 0 ) as loginUserCountMobile2b,
        IFNULL ( c.loginMerchantManage, 0 ) as loginUserCountMerchantManage
        FROM
        (select 0 AS timehoure union select 1 union select 2 union select 3 union select 4 union select 5 union
        select 6 union select 7 union select 8 union select 9 union select 10 union select 11 union select 12 union
        select 13 union select 14 union select 15 union select 16 union select 17 union select 18 union select 19 union
        select 20 union select 21 union select 22 union select 23) a
        LEFT JOIN (
        SELECT
        DATE_FORMAT ( b.start_time, '%H' ) AS times,
        sum(b.new_user_count) AS newCount,
        sum(b.active_user_count) AS activeCount,
        sum(b.login_user_count_pc2b) as loginPc2b,
        sum(b.login_user_count_mobile2b) as loginMobile2b,
        sum(b.login_user_count_merchantManage) as loginMerchantManage
        FROM
        data_statistics.bigdata_user_statistics_2b_hour b
        where b.is_deleted = 0
        <if test="userType != null">
            and b.user_type = #{userType,jdbcType=INTEGER}
        </if>
        <if test="useType != null">
            and b.use_type = #{useType,jdbcType=INTEGER}
        </if>
        <if test="time == 0">
            and TO_DAYS( NOW( ) ) - TO_DAYS(b.start_time) = 1
        </if>
        GROUP BY
        DATE_FORMAT ( b.start_time, '%H' )
        ORDER BY
        times
        ) c ON a.timehoure = c.times
        ORDER BY
        a.timehoure ASC
    </select>
</mapper>